body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #222222;
}

header {
    display: grid;
    background-color: #222;
    height: 75px;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    width: 100%;
}

.header-logo {
    text-decoration: none;
}

.header-logo:hover {
    filter: saturate(300%);
}

.header-logo:active {
    filter: brightness(40%);
}

header > nav > div > button {
    margin: 0 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    stroke: white;
    fill: white;
}

header > nav > div > button:hover {
    stroke: #F16D7F;
    fill: #F16D7F;
}

header > nav > div > button:active {
    stroke: #ff415b;
    fill: #ff415b;
}

header > nav > div:first-child > button {
    margin-left: 40px;
}

.header-basket {
    position: relative;
    cursor: pointer;
}

.header-basket-count {
    background-color: #F16D7F;
    border-radius: 50%;
    position: absolute;
    color: white;
    top: -7px;
    right: -5px;
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.promo-bg-color {
    background-color: #F1E4E6;
    padding: 0 0 0 17px;
    margin: 0;
}

figure {
    margin: auto !important;
    width: 1630px;
}

.promo-pic {
    height: max-content;
    color: #222;
    margin-top: 290px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-left: 63px;
    cursor: default;
}

.promo-pic > p {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.promo-pic > p:first-child {
    font-size: 48px;
    font-weight: 900;
}

.fashion {
    color: #F16D7F;
}

.offer:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, .7);
}

.offer:hover {
    box-shadow: 0 0 20px 0 black;
}

.women {
    background: url("Assets/img/pictures/for_women.png") 0 0 no-repeat;
}

.men {
    background: url("Assets/img/pictures/for_men.png") 0 0 no-repeat;
}

.kids {
    background: url("Assets/img/pictures/for_kids.png") 0 0 no-repeat;
}

.accesories {
    height: 180px;
    width: 1140px;
    background: url("Assets/img/pictures/accesories.png") 0 0 no-repeat;
    margin: 15px;
    position: relative;
    cursor: pointer;
}

.assortment {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    justify-content: center;
}

.assortment > div > p > span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.assortment > div > p {
    text-align: center;
    position: absolute;
    white-space: pre-line;
    width: 50%;
    height: 20%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.assortment-blocks {
    height: 260px;
    width: 360px;
    margin: 65px 15px 15px;
    position: relative;
    cursor: pointer;
}

.product-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title-text {
    font-size: 30px;
    margin-top: 96px;
}

.product-title-desc {
    color: #9F9F9F;
    font-size: 14px;
    margin: 5px 0 48px;
    word-spacing: 1px;

}

.products-list {
    flex-wrap: wrap;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
}

.products-list figcaption {
    padding: 25px 18px;
}

.products-list figcaption > span {
    font-size: 13px;
}

.products-list figcaption > p {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #5D5D5D;
}

.price {
    color: #F16D7F;
}

.products-list > figure {
    height: 581px;
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    cursor: pointer;
}

.product-picture {
    position: relative;
    height: 420px;
    width: 100%;
    display: flex;
    background-color: #F7E4E2;
    justify-content: center;
}

.hidden-layer {
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
}

.products-list > figure:hover .hidden-layer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 43px;
    width: 138px;
    color: white;
    margin: auto;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    fill: white;
}

.buy-button:active {
    color: black;
    fill: black;
    background-color: white;
}

.product-button {
    height: 47px;
    width: 211px;
    color: #F16D7F;
    border: 1px solid #F16D7F;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px auto 0;
    cursor: pointer;
}

.product-button:hover {
    color: white;
    border: 1px solid #F16D7F;
    background-color: #F16D7F;
}

.product-button:active {
    background-color: #ff415b;
}

.benefits-block {
    background-color: #222;
    min-height: 341px;
    color: white;
    margin-top: 95px;
}

.benefits-block > div {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    padding: 104px 0;
    align-items: end;
}

.benefits-block > div > div {
    width: 360px;
    text-align: center;
    font-weight: 300;
    color: #FBFBFB;
    font-size: 14px;
}

.benefits-block > div > div > p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    margin: 28px 0 16px;
}

.benefits-block > div > div > p:nth-child(3) {
    padding: 0 22px;
}

.footer-form {
    height: 448px;
    position: relative;
}

.footer-form > div {
    background: url("Assets/img/pictures/footer_bg.png") 0 0 no-repeat;
    display: flex; /* выравнивание блоков в ряд */
    height: 100%;
    margin: auto;
    max-width: 1140px;
    width: 100%;
}

.footer-form > div:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

footer {
    background-color: #222222;
}